<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http pattern="/resources/css/**" security="none" />
    <http pattern="/email/send" security="none"/>
	<http use-expressions="true" disable-url-rewriting="true">
		<access-denied-handler error-page="/denied" />
		<intercept-url pattern="/" method="GET" access="permitAll"/>
		<intercept-url pattern="/register/**" access="isAnonymous()"/>
		<intercept-url pattern="/login" method="GET" access="isAnonymous()"/>
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/user/**"
			access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
		<form-login 
			login-page="/welcome"
			login-processing-url="/j_spring_security_check"
			default-target-url="/#/user/profil"
			authentication-failure-url="/#/failed"
			username-parameter="username"
			password-parameter="password"
			always-use-default-target="true" />
		<logout delete-cookies="true" logout-success-url="/#/logout/success" 
			logout-url="/j_spring_security_logout" invalidate-session="true" />
		<!-- disable csrf protection -->
			<csrf disabled="true"/>
	</http>
	
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"  users-by-username-query=" 
				SELECT login, password, CASE activated WHEN 1 THEN 'true' ELSE 'false' END 
				activated FROM hackandslash.GameUser WHERE login=?;
				"
                                authorities-by-username-query=" 
SELECT u.login, r.rolename FROM hackandslash.GameUser u, hackandslash.GameRole r WHERE r.id = u.GameRole_id AND u.login=?;
				"   
				/>
                </authentication-provider>
            </authentication-manager>
</beans:beans>